.form-add-movie {
  height: 66vh;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-end;
  overflow-y: auto;
}

.form-add-movie label {
  color: var(--primary);
  text-transform: uppercase;
  padding: 1rem 0.5rem;
  width: 50%;
}

.form-add-movie label input,
.form-add-movie label textarea,
#select-genres {
  display: block;
  background: var(--grey);
  border: 0;
  border-radius: 1px;
  height: 2rem;
  color: var(--white);
  width: 100%;
  margin-top: 0.3rem;
  padding: 0.5rem;
}

.form-add-movie label input::placeholder {
  color: var(--light-grey);
  opacity: 1;
}

.form-add-movie label input:focus,
.form-add-movie label textarea:focus,
#select-genres:focus {
  outline: 1px solid var(--light-grey);
}

label.label-overview {
  width: 100%;
}

label.label-overview textarea {
  max-width: 100%;
  height: 5rem;
  max-height: 5rem;
}

.form-add-movie button {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
}

.reset {
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.error {
  font-size: 0.7rem;
  text-transform: none;
}