.btn {
  background-color: var(--primary);
  color: var(--white);
  border: 0;
  font: inherit;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover,
.btn:active {
  background-color: var(--white);
  color: var(--primary);
}

.btn:active {
  transform: scale(0.96);
}

.btn:focus {
  outline: none;
}
