:root {
  --primary: #f65261;
  --secondary: #424242;
  --black: #232323;
  --grey: #555555;
  --white: #ffffff;
  --light-grey: #807a7a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:  'Montserrat', sans-serif;
  background-color: var(--grey);
}
